[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Dockerized Jaspersoft Studio
Comment=A dockerized report designer for JasperReports and JasperReports Server
Icon=/home/<user>/.jaspersoft-studio/dockerized-jaspersoft-studio-256px.png
Categories=IDE;Development;
Keywords=jasper;jrxml;IDE;
GenericName=Report designer;
MimeType=application/xml;
Exec=/home/<user>/.jaspersoft-studio/jaspersoft-studio
